

.e16_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e23_23 { 
	width:805px;
	height:462px;
	position:absolute;
	left:39px;
	top:80px;
}
.e23_21 { 
	background-color:rgba(235.87500303983688, 234.89219337701797, 234.89219337701797, 1);
	width:805px;
	height:462px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e23_22 { 
	width:500px;
	height:462px;
	position:absolute;
	left:903px;
	top:80px;
}
.e16_10 { 
	background-color:rgba(235.87500303983688, 234.89219337701797, 234.89219337701797, 1);
	width:400px;
	height:462px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e16_11 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:36px;
	position:absolute;
	left: 80px;;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e16_12 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:25px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e16_13 { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:30px;
	position:absolute;
	left:26px;
	top:213px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e16_15 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:30px;
	position:absolute;
	left:25px;
	top:286px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e16_16 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:30px;
	position:absolute;
	left:25px;
	top:359px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e16_17 { 
	
	width:180px;
	height:31px;
	position:absolute;
	left:200px;
	top:139px;
}
.16_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e16_18 { 
	
	width:180px;
	height:31px;
	position:absolute;
	left:200px;
	top:213px;
}
.16_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e16_19 { 
	
	width:180px;
	height:31px;
	position:absolute;
	left:200px;
	top:287px;
}
.16_19 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e16_20 { 
	
	width:180px;
	height:31px;
	position:absolute;
	left:200px;
	top:361px;
}
.16_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}


.button {
	background-color:red;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 357px;
	height:31px;

	left:21px;
	top:405px;
	position:absolute;
  }